<!-- Deprecated Trainer listing
<h3>Top Trainers</h3>
<div class="grid grid-pad">
  <a *ngFor="let trainer of trainers" class="col-1-4">
  <div class="module">
    <a routerLink="/detail/{{trainer.id}}">{{trainer.name}}</a>
  </div>
  <a routerLink="/delete/{{trainer.id}}">Delete Trainer</a>
  </a>
</div>

<h3>Pokemon List</h3>
<div>
  <a *ngFor="let pokemon of pokemons" class="col-1-4">
  <div>
    <a routerLink="/detail/{{pokemon.id}}">{{pokemon.name}}</a>
  </div>
  </a>
</div>-->

<h3>NADA AQUI POR ENQUANTO</h3>