<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left"><img class="responsive-img poke-logo" src="../assets/images/logo.png"/></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="#">Play</a></li>
      <li><a routerLink="/trainers">Trainers</a></li>
      <li><a routerLink="/pokemons">Pokemons</a></li>
    </ul>
  </div>
</nav>

<!--The content below is only a placeholder and can be replaced.-->
<div class="container center">
  <h2 class="mytitle">
    Welcome to {{ title }}!
  </h2>
</div>

<router-outlet></router-outlet>

