<div class="row">
  <div class="col s12 m6 ">
    <div class="card" *ngIf="pokemon">
      <div class="card-title center ">
        {{pokemon.name}}
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a href="#test4">{{pokemon.move.name}}</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="test4">
          <label>Damage:
            <span>{{pokemon.move.damage}}</span>
          </label><br>
          <label>Type:
            <span>{{pokemon.move.type}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>